body {
    background-color: #85cfa3;
    color: #424242;
    font-family: 'Lora', serif;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
}

.tableContainer1 {
    width: 98%;
    display: block;
    margin: auto;
}

.tableContainer2 {
    display: block;
    margin: auto;
}

td, .choices tr td {
    border: 2px #424242 solid;
    padding: 0px;
}

.grid {
    width: 100%;
}

td {
    background-color: #ebebeb;
}

[class="1-1"], [class="1-2"], [class="1-4"], [class="1-6"],
[class="2-1"], [class="3-6"], [class="4-1"], [class="5-6"],
[class="6-1"], [class="6-3"], [class="6-5"], [class="6-6"] {
    background-color: #424242;
}

.choices tr td {
    width: 35px;
    height: 35px;
}