body {
    background-color: #85cfa3;
    color: #424242;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.countdown {
    font-size: 40px;
}

table {
    table-layout: fixed;
}

.tableContainer1 {
    width: 90%;
    display: block;
    margin: auto;
}

.tableContainer2 {
    width: 75%;
    display: block;
    margin: auto;
}

.tableContainer1 {
    padding-bottom: 8px;
}

.tableContainer2 {
    border-top: 2px #424242 solid;
    padding-top: 8px;
}

.grid td {
    border: 2px #424242 solid;
    padding: 0px;
    border-radius: 10px;
    padding: 0px;
    width: 16.66666667%;
}

.choices td {
    border: 2px #424242 solid;
    padding: 0px;
    border-radius: 10px;
    padding: 0px;
    width: 20%;
}

.grid tr {
    height: 16.6666666667%;
}

.choices tr {
    height: 25%;
}

.grid, .choices {
    width: 100%;
}

td {
    background-color: #ebebeb;
}

[class="1-1"], [class="1-2"], [class="1-4"], [class="1-6"],
[class="2-1"], [class="3-6"], [class="4-1"], [class="5-6"],
[class="6-1"], [class="6-3"], [class="6-5"], [class="6-6"] {
    background-color: #424242;
}