body {
    background-color: #85cfa3;
    overflow: hidden;
    position: fixed;
}

.tableContainer {
    width: 98%;
    display: block;
    margin: auto;
}

td {
    border: 2px #424242 solid;
    margin: 0px;
}

table {
    width: 100%;
}

td {
    background-color: #ebebeb;
}

[class="1-1"], [class="1-2"], [class="1-4"], [class="1-6"],
[class="2-1"], [class="3-6"], [class="4-1"], [class="5-6"],
[class="6-1"], [class="6-3"], [class="6-5"], [class="6-6"] {
    background-color: #424242;
}